.statusform {
    margin-top: 10px;
    background-color: darkcyan;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 600px;
}

.button {
    width: 50%;
    margin-bottom: 10px;
    margin-right: 10px;
}

.minerror {
   background-color: crimson;
}

.container {
    max-width: 500px;
    background-color: antiquewhite;
    display: flex;
}